<h1>Listing orderparts</h1>

<table>
  <tbody>
    <% @orderparts.each do |orderpart| %>
      <tr>
        <% @orderpart = orderpart %>
        <%= render "form" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderpart', new_orderpart_path %>
