<h1>Editing order</h1>

<%= render 'form' %>
<%  @order.orderparts.each do |orderpart| %>
  <% @orderpart=orderpart %>
  <%= render template: order_url+"/indexford" %>
<% end %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
